/* CONTENEDER DEL FORMULARIO */
.containerConfirm {
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXTO PEDIDO */
.orderText {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* BOTONES */
.buttons {
  width: 35vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 425px) {
  .buttons {
    width: 55vw;
  }
  a{
    font-size: 15px;
  }
  .total {
    margin: 10px;
  }
}