/* CONTENEDER DEL FORMULARIO */
.containerConfirm {
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXTO PEDIDO */
.orderText {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* BOTONES */
.buttons {
  width: 35vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.notConfirm {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 320px) {
  a {
    font-size: 14px;
  }
}

@media (min-width:321px) and (max-width: 425px) {
  a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .buttons {
    width: 70vw;
  }

  .total {
    margin: 30px;
  }
}