.card {
    border: solid rgb(0, 0, 0) 5px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 209, 149);
    border-bottom: solid 7px rgb(143, 81, 0);
    border-right: solid 7px rgb(143, 81, 0);
    box-sizing: border-box;
    margin-left: 90px;
    margin-top: 20px;
}

.notStock {
    border: solid rgb(0, 0, 0) 5px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 209, 149);
    border-bottom: solid 7px rgb(143, 81, 0);
    border-right: solid 7px rgb(143, 81, 0);
    box-sizing: border-box;
    position: relative;
    opacity: 0.5;
    pointer-events: none;
    margin-left: 90px;
    margin-top: 20px;
}

.notStockText {
    color: white;
    font-weight: bold;
    background-color: rgb(255, 137, 137);
    width: 210px;
    text-align: center;
    /* rotate: -29.2deg; */
    rotate: -34deg;
    position: absolute;
}

.box {
    background-color: rgb(255, 137, 137);
    width: 13px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.box2 {
    background-color: rgb(255, 137, 137);
    width: 13px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
    width: 188px;
    text-align: center;
}

.price {
    text-align: center;
    margin-top: 20px;
}

/* .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
    width: 188px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
} */
.doc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    /* margin-bottom: 20px; */
    width: 188px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

.midle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 43px;
    width: 100px;
    height: 20px;
    /* margin-bottom: 20px; */
    width: 188px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

.button {
    height: fit-content;
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.disbled {
    height: fit-content;
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: 25px;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 1440px) {
    .card {
        width: 220px;
        height: 140px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .notStock {
        width: 220px;
        height: 140px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .title {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .notStockText {
        width: 172px;
        rotate: -44deg;
    }

    .box {
        width: 14px;
        height: 17px;
    }

    .box2 {
        width: 15px;
        height: 18px;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 190px;
        height: 110px;
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media (max-width: 425px) {
    .card {
        width: 150px;
        height: 110px;
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media(max-width: 375px) {
    .card {
        width: 140px;
        height: 110px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .notStock {
        width: 140px;
        height: 110px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .doc {
        width: 140px;
    }

    .midle {
        width: 100px;
    }
}

@media (max-width: 320px) {
    .card {
        width: 145px;
        height: 110px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .notStock {
        width: 145px;
        height: 110px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .doc {
        width: 145px;
    }

    .midle {
        width: 100px;
    }

    .notStockText {
        width: 172px;
        rotate: -44deg;
    }

    .title {
        font-size: 18px;
        width: 145px;
    }
}