---
import Layout from "../layouts/Layout.astro";
import empanadas1 from "../../public/images/empanadas1.jpg";
import empanadas2 from "../../public/images/empanadas2.jpg";
import empanadas3 from "../../public/images/empanadas3.jpg";
import empanadas4 from "../../public/images/empanadas4.jpg";
import { Image } from "astro:assets";
---

<Layout>
  <main>
    <h1>Bienvenidos a Empanadas Parana</h1>
    <div>
      <Image src={empanadas1} alt="Empanadas" />
      <Image src={empanadas2} alt="Empanadas" />
      <Image src={empanadas3} alt="Empanadas" />
      <Image src={empanadas4} alt="Empanadas" />
    </div>
    <p class="firstP">
      Soy Tania Nosetto y hace 10 años que vendo empanadas caseras desde mi
      casa, las variedades que tenemos disponibles son:
      <b>
        Carne salada y dulces, Pollo, Verdura, Jamon y Queso, Cebolla y queso.
      </b>
    </p>
    <p class="lastP">En ocasiones especiales, realizo pedidos de <b> Pescado.</b></p>
    <a href="/pedir" class="btn btn-white btn-sm">Pedir</a>
  </main>
</Layout>

<style>
  /* @keyframes colorChange {
    0% {
      background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue
      );
    }
    25% {
      background-image: linear-gradient(
        to right,
        blue,
        red,
        orange,
        yellow,
        green
      );
    }
    50% {
      background-image: linear-gradient(
        to right,
        green,
        blue,
        red,
        orange,
        yellow
      );
    }
    75% {
      background-image: linear-gradient(
        to right,
        yellow,
        green,
        blue,
        red,
        orange
      );
    }
    100% {
      background-image: linear-gradient(
        to right,
        orange,
        yellow,
        green,
        blue,
        red
      );
    }
  } */
  h1 {
    margin-top: 10px;
    /* background-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      purple
    );
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    animation: colorChange 0.5s linear infinite; */
  }
  div {
    display: flex;
    flex-direction: row;
  }
  img {
    width: 350px;
    height: auto;
    margin: 20px;
  }
  p {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  .firstP{
    margin: 20px;
  }
  .lastP{
    margin: 0;
    margin-bottom: 20px;
  }
  b {
    color: rgb(179, 0, 0);
  }

  @media (max-width: 425px) {
    div {
      display: flex;
      flex-wrap: wrap;
      width: 425px;
      justify-content: center;
      gap: 10px;
    }
    img {
      width: 150px;
      height: 150px;
      margin: 0;
    }
    p {
      font-size: 20px;
      margin-top: 20px;
    }
  }
</style>
