---
import { Order } from "../components/order/Order.tsx";
import Layout from "../layouts/Layout.astro";
import { priceDoc, priceMed } from "../conts";
---

<Layout>
  <main>
    <h1>¿Quieres realizar un pedido?</h1>
    <p>
      Los pedidos se toman de a media docena o docena,
      <strong>no se venden empanadas individuales</strong>, por lo que el
      contador es de a media docena o docena.
    </p>
    <p>Docena: <strong>${priceDoc}</strong></p>
    <p>1/2 docena: <strong>${priceMed}</strong></p>
    <p style={{ marginTop: "10px", marginBottom: "20px" }}>
      Estas son nuestras variedades:
    </p>
    <div>
      <Order client:visible />
    </div>
  </main>
</Layout>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
  }
  p {
    margin: 0;
  }

  @media (max-width: 1440px) {
    p {
      text-align: center;
    }
    div {
      width: 100vw;
      justify-content: center;
      gap: 10px;
    }
  }
  @media (max-width: 1024px) {
    div {
      /* width: 700px; */
      /* justify-content: center; */
      gap: 50px;
    }
  }
  @media (max-width: 425px) {
    div {
      /* width: 425px; */
      /* justify-content: center; */
      gap: 30px;
    }
  }
  @media (min-width: 321px) and (max-width: 375px) {
    div {
      /* width: 100vw; */
      /* justify-content: center; */
      gap: 20px;
    }
  }
  @media (max-width: 320px) {
    div {
      /* width: 100vw; */
      /* justify-content: center; */
      gap: 10px;
    }
  }
</style>
