---
import { Order } from "../components/order/Order.tsx";
import Layout from "../layouts/Layout.astro";
import { priceDoc, priceMed } from "../conts";
---

<Layout>
  <main>
    <h1>Quieres realizar un pedido?</h1>
    <p>
      Los pedidos se toman de a media docena o docena,
      <strong>no se venden empanadas individuales</strong>, por lo que el
      contador es de a media docena o docena.
    </p>
    <p>Docena: <strong>${priceDoc}</strong></p>
    <p>1/2 docena: <strong>${priceMed}</strong></p>
    <p style={{ marginTop: "10px", marginBottom: "20px" }}>
      Estas son nuestras variedades:
    </p>
    <div>
      <Order client:visible />
    </div>
  </main>
</Layout>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
  }
  p {
    margin: 0;
  }
</style>
../components/order/Order.tsx