---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Empanads Parana</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Quicksand:wght@300;500;700&display=swap");
  body {
    background-color: bisque;
    background: linear-gradient(90deg, bisque, rgb(255, 255, 255), bisque);
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 40px;
    font-family: "Croissant One";
    border-bottom: solid rgb(255, 154, 154) 5px;
    width: fit-content;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  @keyframes buttonHover {
    from {
      background-color: rgb(255, 185, 100);
    }
    to {
      background: rgb(255, 140, 0);
      /* box-shadow: 0px 3px rgb(255, 140, 0); */
    }
  }
  a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(255, 185, 100);
    text-decoration: none;
    border: solid black 2px;
    border-radius: 5px 5px 0px;
    padding-right: 10px;
    padding-left: 10px;
    /* box-shadow: 0px 5px rgb(255, 140, 0); */
    box-sizing: border-box;
    text-align: center;
  }
  a:hover {
    animation-name: buttonHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @media (max-width: 425px) {
    h1 {
      font-size: 15px;
    }
  }
</style>
